.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 12%;
  transition: all 0.7s ease;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  color: var(--main-color);
  font-size: 30px;
  margin-right: 7px;
}

.logo span {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar {
  display: flex;
}

.navbar a,
.main a {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  text-decoration: none; /* Remove underline */
  transition: all 0.5s ease;
}

.navbar a:hover,
.main a:hover {
  color: var(--main-color);
}
