/* quiz-info 스타일링 */
.quiz-info {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 600px;
}

#quizButton,
#attemptQuizButton,
.btn-open-modal,
.btn-delete-deck {
    padding: 6px 15px;
    border: 1px solid #000; /* 검은 테두리 추가 */
    border-radius: 5px;
    cursor: pointer;
    color: black;
    background-color: transparent;
}

#quizButton:hover,
#attemptQuizButton:hover,
.btn-open-modal:hover,
.btn-delete-deck:hover {
    background-color: #e35f5f; /* 호버 시 더 진한 라벤더 색상으로 설정 */
    color: #fff;
}

#attemptQuizButton:disabled {
    background-color: #ddd; /* 비활성화된 버튼 색상 */
    color: #666; /* 비활성화된 텍스트 색상 */
}


.label {
    font-weight: bold;
    margin-right: 5px;
    color: #333;
}

.info {
    color: #555;
}
