@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}
:root {
  /*기본 색상 지정*/
  --bg-color: #ffffff;
  --text-color: #000000;
  --main-color: #b93234; /*rgb 색상표 (185,50,52)*/
  --primary-clr: #b38add;
}
body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  /*이미지 안넣음*/
  /* background-image: url('sejong_logo0.5.png');
  background-size: 300%;
  background-repeat: no-repeat;
  background-position: left 1000px top 450px; */
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 12%;
  transition: all 0.5s ease;
}
.logo {
  display: flex;
  align-items: center;
}
.logo i {
  color: var(--main-color);
  font-size: 30px;
  margin-right: 7px;
}
.logo span {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 600;
}
.navbar {
  display: flex;
}
.navbar a {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.5s ease;
}
.navbar a:hover {
  color: var(--main-color);
}
.navbar a.active {
  color: var(--main-color);
}
.main {
  display: flex;
  align-items: center;
}
.main a {
  margin-right: 25px;
  margin-left: 10px;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.5s ease;
}
.main a:hover {
  color: var(--main-color);
}

/* Sidebar CSS ============================================*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(185, 50, 52, 0.1);
  backdrop-filter: blur(17px);
  --webkit-backdrop-filter: blur(17px);
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  transition: width 0.3s ease;
  z-index: 1001;
}

.sidebar:hover {
  width: 260px;
}

.sidebar .logo {
  color: #000;
  display: flex;
  align-items: center;
  padding: 25px 10px 15px;
}

.logo img {
  width: 43px;
  border-radius: 50%;
}

.logo h2 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-left: 15px;
  display: none;
}

.sidebar:hover .logo h2 {
  display: block;
}

.sidebar .links {
  list-style: none;
  margin-top: 20px;
  overflow-y: auto;
  scrollbar-width: none;
  height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
  display: none;
}

.links li {
  display: flex;
  border-radius: 4px;
  align-items: center;
}

.links li:hover {
  cursor: pointer;
  background: #fff;
}

.links h4 {
  color: #222;
  font-weight: 500;
  display: none;
  margin-bottom: 10px;
}

.sidebar:hover .links h4 {
  display: block;
}

.links hr {
  margin: 10px 8px;
  border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
  border-color: transparent;
}

.links li span {
  padding: 12px 10px;
}

.links li a {
  padding: 10px;
  color: #000;
  display: none;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.sidebar:hover .links li a {
  display: block;
}

/*과목별 퀴즈 바*/
.horizontal-boxes {
  display: flex;
  flex-direction: column;
  padding: 20px; /* 원하는 패딩 값 설정 */
}

.horizontal-box {
  width: 90%;
  color: var(--text-color);
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 130px;
  border-radius: 5px;
  height: 80px;
  transition: all 0.85s ease;
  opacity: 0.8;
}

.horizontal-box:first-child {
  margin-top: 125px;
}

.horizontal-box:hover {
  background-color: #ffa7a7;
}
