{% extends "index_side.html" %}

{% block head_content %}
    {% load static %}
{#    css#}
    <link rel="stylesheet" href="{% static 'Quiz_style.css' %}">
{#    javscript#}
    <script src="{% static 'js/modal.js' %}" defer></script>
{% endblock %}

{% block body_content %}
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <div id="modal-content-placeholder">
      <!-- 모달 내용이 여기에 동적으로 채워질 것입니다 -->
        <h2>퀴즈 형식 작성</h2>
{#        deck을 생성하면 바로 flashcard 생성 화면으로 넘어간다#}
        <form method="POST" action="{% url 'deck-detail' deck.id %}">
            <div class="form-container"> <!-- 상자를 감싸는 부모 요소 -->
                <div class="center-input"> <!-- 입력 요소를 가운데 정렬하기 위한 부모 요소 -->
                    <label for="name">과목:</label>
                    <input type="text" id="name" name="name" required>
                    <br>
                    <label for="description">주제:</label>
                    <input type="text" id="description" name="description">
                </div>
                <input type="submit" value="형식 생성">
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}