{% extends 'index_side.html' %}

{% block head_content %}
{#    title#}
    <title>Attempt Quiz</title>
    {% load static %}
{#    css#}
    <link rel="stylesheet" href="{% static 'css/attempt_quiz.css' %}">

{#    javscript#}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

{% endblock %}

{% block body_content %}

    <div class="outline_container_for_quiz">
{#      <div class="input-subject">#}
{#          <label for="userInput"> 원하는 과목명을 입력하세요:</label>#}
{#        <input type="text" id="userInput-subject" name="userInput-subject">#}
{#        <button id="submitButton">확인</button>#}
{#      </div>#}
        <div class="quiz-subject">
          <h2>주제: {{ deck.name }}</h2>
          <!-- 이곳에 현재 풀고있는 퀴즈의 과목명과 단원 제목 덱에서 호출(미구현)-->
        </div>

        <div class="quiz-box">
          <!-- 이곳에 현재 풀고있는 퀴즈의 문제를 플래시카드에서 호출(미구현)-->
          <h3 class="question-text">{{ flashcard.question }} next: {{ next_flashcard.id }}</h3>
          <h3 class="answer-text">{{ flashcard.answer }}</h3>
        </div>
        <div class="quiz-buttons">
          <button class="button-answer">answer</button>
            {% if next_flashcard is None %}
                <button class="button-next" onclick="location.href='/home/quizzes/{{ deck.id }}/'">finish</button>
            {% else %}
                <button class="button-next" onclick="location.href='/home/quizzes/{{ deck.id }}/cards/{{ next_flashcard.id }}'">next quiz</button>
            {% endif %}
          <button class="button-good"><span class="material-symbols-outlined">thumb_up</span></button>
          <button class="button-bad"><span class="material-symbols-outlined">thumb_down</span></button>
        </div>
        <div class="quiz-initial">
          Quiz for Sejong Univ Students
        </div>
    </div>
    <script>
      const quizBox = document.querySelector(".quiz-box");
      const buttonAnswer = document.querySelector(".button-answer");
      let isFlipped = false; // 초기 상태: 뒤집히지 않음

      buttonAnswer.addEventListener("click", function () {
      if (isFlipped) {
      // 뒤집혔을 때 다시 앞면으로
        quizBox.classList.remove("flipped");
        isFlipped = false;
      } else {
        // 앞면일 때 뒤집기
        quizBox.classList.add("flipped");
        isFlipped = true;
      }
    });
  </script>

{% endblock %}