{% extends 'index_side.html' %}

{% block head_content %}
{#    title#}
    <title>Attempt Quiz</title>
    {% load static %}
{#    css#}
    <link rel="stylesheet" href="{% static 'css/attempt_quiz.css' %}">

{#    javscript#}

{% endblock %}

{% block body_content %}
      <div id="popup" class="containers">
        <h2>로렘 입숨(lorem ipsum; 줄여서 립숨, lipsum)</h2>
        <p>
          로렘 입숨은 출판이나 그래픽 디자인 분야에서 폰트, 타이포그래피, 레이아웃
          같은 그래픽 요소나 시각적 연출을 보여줄 때 사용하는 표준 채우기
          텍스트로, 최종 결과물에 들어가는 실제적인 문장 내용이 채워지기 전에 시각
          디자인 프로젝트 모형의 채움 글로도 이용된다. 이런 용도로 사용할 때 로렘
          입숨을 그리킹(greeking)이라고도 부르며, 때로 로렘 입숨은 공간만 차지하는
          무언가를 지칭하는 용어로도 사용된다. 로렘 입숨은 전통 라틴어와 닮은 점
          때문에 종종 호기심을 유발하기도 하지만 그 이상의 의미를 담지는 않는다.
          문서에서 텍스트가 보이면 사람들은 전체적인 프레젠테이션보다는 텍스트에
          담긴 뜻에 집중하는 경향이 있어서 출판사들은 서체나 디자인을 보일 때는
          프레젠테이션 자체에 초점을 맞추기 위해 로렘 입숨을 사용한다. 로렘 입숨은
          영어에서 사용하는 문자들의 전형적인 분포에 근접하다고도 하는데, 이 점
          때문에 프레젠테이션으로 초점을 이동하는 데에도 도움을 준다.
        </p>
        <a href="#" onclick="toggle()">Close</a>
      </div>
      <script type="text/javascript">
        function toggle() {
          var blur = document.getElementById('blur');
          blur.classList.toggle('active');
          var blur = document.getElementById('popup');
          popup.classList.toggle('active');
        }
      </script>
</div>
    <div class="outline_container_for_quiz">
      <div class="input-subject">
        <label for="userInput"> 원하는 과목명을 입력하세요:</label>
        <input type="text" id="userInput-subject" name="userInput-subject">
        <button id="submitButton">확인</button>
      </div>
        <div class="quiz-subject">
          <h2>주제:</h2>
          <!-- 이곳에 현재 풀고있는 퀴즈의 과목명과 단원 제목 덱에서 호출(미구현)-->
        </div>
        <div class="quiz-box">
          <!-- 이곳에 현재 풀고있는 퀴즈의 문제를 플래시카드에서 호출(미구현)-->
          <h3 class="question-text">문제</h3>
          <h3 class="answer-text">정답</h3>
        </div>
        <div class="quiz-buttons">
          <button class="button-answer">answer</button>
          <button class="button-next">next quiz</button>
          <button class="button-good"><span class="material-symbols-outlined">thumb_up</span></button>
          <button class="button-bad"><span class="material-symbols-outlined">thumb_down</span></button>
        </div>
        <div class="quiz-initial">
          Quiz for Sejong Univ Students
        </div>
    </div>
    <script>
      const quizBox = document.querySelector(".quiz-box");
      const buttonAnswer = document.querySelector(".button-answer");
      let isFlipped = false; // 초기 상태: 뒤집히지 않음

      buttonAnswer.addEventListener("click", function () {
      if (isFlipped) {
      // 뒤집혔을 때 다시 앞면으로
        quizBox.classList.remove("flipped");
        isFlipped = false;
      } else {
        // 앞면일 때 뒤집기
        quizBox.classList.add("flipped");
        isFlipped = true;
      }
    });
  </script>

{% endblock %}