{#cards page html#}
{% extends 'index_side.html' %}

<!-- title, css, javascript 를 위한 block -->
{% block head_content %}
{#    title#}
    <title>문제 조회</title>
    {% load static %}
{#    css#}
    <link rel="stylesheet" href="{% static 'css/quizzes.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    {#    javscript#}

{% endblock %}

{# TemplateHTMLRenderer를 사용하기 위해 rest_framework load#}
{% load rest_framework %}
{% block body_content %}
    <section class="horizontal-boxes">
        <!--화면 중앙에 과목별 전체 퀴즈 항목-->
        <div id="search-results">
            {% for card in results %}
                <a href="{% url 'card-detail' card.deck card.id %}" class="horizontal-box">
                    <span>문제: {{ card.question }}</span>
                    <br>
                </a>
            {% endfor %}
        </div>

        <!--paginatinon link-->
        <div class="pagination">
          <span class="step-links">
            {% include 'pagination_links.html' %}
          </span>
        </div>

    </section>


{% endblock %}
