{## side bar html#}
{% extends 'index.html' %}

<!-- title, css, javascript 를 위한 block -->
{% block sidebar_head_content %}
{#    작성할 title 없음#}
    {% load static %}
{#    css file #}
        <link rel="stylesheet" href="{% static 'css/index_side.css' %}">

{#    javascript file 없음#}

{% endblock  %}

{% block sidebar %}
    <!-- 사이드 메뉴바-->
    <aside class="sidebar">
      <div class="logo">
        <img src="{% static "menu-line.png" %}" alt="logo" />
      </div>
      <ul class="links">
        <h4>Calendar</h4>
        <li>
          <span class="material-symbols-outlined">edit_calendar</span>
          <a href="{% url "cal:school_cal_data" %}">학사일정</a>
        </li>
        <li>
          <span class="material-symbols-outlined">note_add</span>
          <a href="{% url "cal:contest_data" %}">공모전</a>
        </li>
        <hr />
        <h4>Quiz</h4>
          <li>
              <span class="material-symbols-outlined">person</span>
              <a href="{% url "quizzes:my-quiz" %}">내 퀴즈</a>
          </li>
        <li>
          <span class="material-symbols-outlined">quiz</span>
          <a href="{% url "quizzes:deck-list" %}">퀴즈 조회</a>
        </li>
      </ul>
    </aside>

{% endblock %}
