{% extends 'index.html' %}

{% block head_content %}
    <title>Login</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
{% endblock %}

{% block body_content %}
    <div class="center">
      <h1>Login</h1>
      <form method="post" action="{% url 'f_login' %}">
          {% csrf_token %}
        <div class="txt_field">
          <input type="text" required id="id" name="id"/>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" required id="pw" name="pw"/>
          <span></span>
          <label>Password</label>
        </div>
        <input type="submit" value="Login" />
        <br><br>
      </form>
    </div>
{% endblock %}