{#{% extends 'index.html' %}\ {% block head_content %}#}
{#<title>Main</title>#}
{#{% load static %}#}
{#<link rel="stylesheet" href="{% static 'home_style.css' %}" />#}
{#{% endblock %} {% block body_content %} {% endblock %}#}

<!--여기서 부터-->
{% extends 'index.html' %}\ {% block head_content %}
<title>main_page</title>
{% load static %}
<link rel="stylesheet" href="{% static 'myQuiz_style.css' %}" />
{% endblock %} {% block body_content %}
<!-- 사이드 메뉴바-->
<aside class="sidebar">
  <div class="logo">
    <img src="{% static 'menu-line.png'%}" alt="logo" />
  </div>
  <ul class="links">
    <h4>Calendar</h4>
    <li>
      <span class="material-symbols-outlined">calendar_month</span>
      <a href="#">내 캘린더</a>
    </li>
    <li>
      <span class="material-symbols-outlined">edit_calendar</span>
      <a href="#">캘린더 수정</a>
    </li>
    <li>
      <span class="material-symbols-outlined">note_add</span>
      <a href="#">할 일 추가</a>
    </li>
    <hr />
    <h4>Quiz</h4>
    <li>
      <span class="material-symbols-outlined">person</span>
      <a href=".">내 퀴즈</a>
    </li>
    <li>
      <span class="material-symbols-outlined">quiz</span>
      <a href="#">퀴즈 풀기</a>
    </li>
    <li>
      <span class="material-symbols-outlined">upload</span>
      <a href="#">퀴즈 출제</a>
    </li>
    <hr />
    <h4>Account</h4>
    <li>
      <span class="material-symbols-outlined">rate_review</span>
      <a href="#">의견제출</a>
    </li>
    <li>
      <span class="material-symbols-outlined">mail</span>
      <a href="#">이메일</a>
    </li>
    <li>
      <span class="material-symbols-outlined">info</span>
      <a href="#">사이트 안내</a>
    </li>
  </ul>
</aside>
<!--화면 중앙에 과목별 내 퀴즈 항목-->
<section class="horizontal-boxes">
  <a href="#" class="horizontal-box">과목 1 (과목명, 과목 교수명, 과목 시간)</a>
  <a href="#" class="horizontal-box">과목 2 (과목명, 과목 교수명, 과목 시간)</a>
  <a href="#" class="horizontal-box">과목 3 (과목명, 과목 교수명, 과목 시간)</a>
  <a href="#" class="horizontal-box">과목 4 (과목명, 과목 교수명, 과목 시간)</a>
  <a href="#" class="horizontal-box">과목 5 (과목명, 과목 교수명, 과목 시간)</a>
  <a href="#" class="horizontal-box">과목 6 (과목명, 과목 교수명, 과목 시간)</a>
</section>

{% endblock %}
