{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <!--해당 html 페이지 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index_side.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cal_style.css' %}">
    <title>메인 페이지</title>
    <!-- title, css 를 위한 block -->
      {% block head_content %}
      {% endblock %}
</head>
<body>
{#    상단 메뉴바#}
    <header>
      <!-- 왼쪽상단 로고표시-->
      <a href="#" class="logo">
        <i class="ri-school-fill"></i>
        <span>FlashCards & Calendar for Sejong Univ</span>
      </a>
      <!-- 상단 중앙 메뉴바-->
      <ul class="navbar">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Information</a></li>
      </ul>
      <!-- 상단 왼쪽 메뉴바-->
      <div class="main">
          <a href='javascript:logout()'>Logout</a>
      </div>
    </header>

{#    사이드바#}

    <aside class="sidebar">
      <div class="logo">
        <img src="{% static "menu-line.png" %}" alt="logo" />
      </div>
      <ul class="links">
        <h4>Calendar</h4>
        <li>
          <span class="material-symbols-outlined">edit_calendar</span>
          <a href="{% url "cal:school_cal_data" %}">학사일정</a>
        </li>
        <li>
          <span class="material-symbols-outlined">note_add</span>
          <a href="{% url "cal:contest_data" %}">공모전</a>
        </li>
        <hr />
        <h4>Quiz</h4>
          <li>
              <span class="material-symbols-outlined">person</span>
              <a href="http://localhost:8000/home/quizzes/myquiz/">내 퀴즈</a>
          </li>
        <li>
          <span class="material-symbols-outlined">quiz</span>
          <a href="quizzes/solvequiz/">퀴즈 조회</a>
        </li>
      </ul>
    </aside>

{#    캘린더#}
  {% block content %}
  {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/script.js' %}"></script>
  {% block script %}
  {% endblock %}
  </body>

    <!-- 예외처리 -->
    {% if messages %}
    {% for m in messages %}
    <!-- 로그인 오류 / 기타오류 발생시 -->
    {% if m.tags == 'error' %}
    <script>
        alert('{{ m }}');
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
    <script>
    function logout() {
        var back_head = confirm('✋ 정말 로그아웃 하시겠습니까? ✋');
        if (back_head) {
            location.href = '/f_logout/';
        }
    };
    </script>
</html>